<h1> Cart </h1>

<ul class="cart-items">
  <%= for item <- @items do %>
    <li class="cart-item">
      <img class="cart-item__image" src="<%= item.book.image_url %>">
      <div class="cart-item__title">
        <span><%= item.book.title %></span>
      </div>

      <div class="cart-item__units">
        <div class="value-tag">
          <h2 class="value-tag__title">Quantity</h2>
          <span class="value-tag__content">
            <div class="step minus">
              <%= link "-", to: cart_path(@conn, :delete, book_id: item.book_id),
                  method: :delete %>
            </div>
            <div class="step plus">
              <%= link "+", to: cart_path(@conn, :create, book_id: item.book_id),
                  method: :create %>
            </div>
            <br>
            <%= item.quantity %>
          </span>
        </div>
      </div>

      <div class="cart-item__price">
        <div class="value-tag">
          <h2 class="value-tag__title">price</h2>
          <span class="value-tag__content"><%= format_price(item.book.price) %></span>
        </div>
      </div>

      <div class="value-tag">
        <h2 class="value-tag__title">total</h2>
        <span class="value-tag__content"><%= format_price(@total) %></span>
      </div>
    </li>
  <% end %>
</ul>
