<h1> <%= @book.title %> </h1>

<div class="book book-hero">
  <img class="book__image" src="<%= @book.image_url %>" alt="">
  <p class="book_description"><%= @book.description %></p>
</div>

<div class="value-tag">
  <h2 class="value-tag__title">Price: </h2>
  <span class="value-tag__content"><%= format_price(@book.price) %></span>
</div>

<%= link "Add to cart",
    to: cart_path(@conn, :create, book_id: @book.id),
    method: :create,
    class: "button button-primary" %>
