<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Welcome to Storex</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="main-nav">
      <a class="main-nav__logo" href="/"></a>

      <ul class="main-nav__links">
        <%= if items_count(@conn) do %>
          <li>
            <%= link to: cart_path(@conn, :show) do %>
              cart
              <span class="badge"><%= items_count(@conn) %> items - <%= items_total_price(@conn) %> </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>

    <main role="main" class="content">
      <%= if message=get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= message %></p>
      <% end %>

      <%= if message=get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= message %></p>
      <% end %>

      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
